name: Release

on:
  push:
    branches: ['main']

jobs:
  static-checks:
    name: Run Static Analysis Checks
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    permissions:
      security-events: write
    with:
      node_version: '24.x'
      matrix_commands: '["lint", "depcheck", "check"]'

  tests:
    name: Run tests
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      node_version: '24.x'
      tests: '["test", "test:integration"]'
      npm_build_command: 'dotnet workload install wasm-tools-net8 && npm run publish'
      docker_compose_file: ''
      coverage: true
      coverage_config_json: .c8rc.json

  check-version:
    name: 'Check version'
    uses: digicatapult/shared-workflows/.github/workflows/check-version.yml@main
    permissions: {}

  generate-sbom:
    name: 'Generate SBOM'
    permissions: {}
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    with:
      node_version: '24.x'
      sbom_tool: '@cyclonedx/cyclonedx-npm'
      npm_build_command: 'dotnet workload install wasm-tools-net8 && npm run publish'
      additional_args: "--ignore-npm-errors"
      enable_check_version: true
      enable_dtrack_project: true
      sbom_output_file: ${{ github.event.repository.name }}.cdx.json
    secrets:
      DTRACK_APIKEY: ${{ secrets.DTRACK_APIKEY }}
      DTRACK_HOSTNAME: ${{ secrets.DTRACK_HOSTNAME }}

  publish-npm:
    name: 'Publish package to NPMJS'
    needs:
      - static-checks
      - tests
      - check-version
    uses: digicatapult/shared-workflows/.github/workflows/release-module-npm.yml@main
    permissions:
      contents: write
      id-token: write
      packages: write
    with:
      node_version: '24.x'
      registry_url: 'https://registry.npmjs.org'
      registry_scope: '@digicatapult'
      npm_build_command: 'dotnet workload install wasm-tools-net8 && npm run publish'
    secrets:
      REGISTRY_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}

  publish:
    name: 'Publish release'
    needs: [publish-npm, check-version, generate-sbom]
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    permissions:
      contents: write
      pull-requests: read
    with:
      get_sbom: true
