name: Lint and Test

on:
  push:
    branches-ignore: ['main']

jobs:
  static-checks:
    name: Run Static Analysis Checks
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@bug/private-repo
    permissions:
      security-events: write
    with:
      node_version: '24.x'
      matrix_commands: '["lint", "depcheck", "check"]'

  tests:
    name: Run tests
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@bug/private-repo
    permissions:
      pull-requests: write
    with:
      node_version: '24.x'
      tests: '["test", "test:integration"]'
      npm_build_command: 'dotnet workload install wasm-tools-net8 && npm run publish'
      docker_compose_file: ''
      coverage: true
      coverage_config_json: .c8rc.json

  generate-sbom:
    name: 'Generate SBOM'
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@bug/private-repo
    permissions: {}
    with:
      node_version: '24.x'
      sbom_tool: '@cyclonedx/cyclonedx-npm'
      npm_build_command: 'dotnet workload install wasm-tools-net8 && npm run publish'

  check-version:
    name: 'Check version'
    uses: digicatapult/shared-workflows/.github/workflows/check-version.yml@bug/private-repo
    permissions: {}
